[Unit]
Description=Grafana Agent

[Service]
User={{grafana_agent_user}}
Group={{grafana_agent_group}}
ExecStart=/usr/local/bin/grafana-agent -config.file={{grafana_agent_config_dir}}/agent-config.yaml
Restart=always

[Install]
WantedBy=multi-user.target