#Disble cache
cache-size=0
#Importantly, resolv.conf needs to include the IP of the host running a consul agent
#(reasonable to just use the private IP of the host you're using)
#- if you use 127.0.0.1, docker will remove the nameserver when you launch the container as the container won't be able
# to resolve the host with that as the IP (it will be the containers loopback IP).
nameserver {{host_ip}}
{% if is_master_host  %}
## for resolving the domain {{tls_san}}
# This should resolved over dnsmasq 00-externaldns
{% for worker in workers -%}
#nameserver {{worker}}
{% endfor %}
{% endif %}

{% for dns in publicdns -%}
nameserver {{dns}}
{% endfor %}
