export DOCKER_HOST=10.21.21.41
export DOCKER_TLS_VERIFY=1
export DOCKER_BUILDKIT=1

export ENVIRONMENT="$PWD/ansible/environment/local"
export ANSIBLE_CONFIG="$ENVIRONMENT/../ansible.cfg"
export ANSIBLE_INVENTORY="$ENVIRONMENT/inventory/hosts.ini"
export ANSIBLE_DEBUG=False
export DOCKER_CERT_PATH="$ENVIRONMENT/docker_client"

export PULL_REGISTRY=registry.cloud.private
export PUSH_REGISTRY=10.21.21.41:5001
