export DOCKER_HOST=172.21.1.10
export TLS_SAN=cloud.private
export ENVIRONMENT="$PWD/ansible/environment/local"



#export DOCKER_HOST=10.128.82.220
#export TLS_SAN=amovacloud.private
#export ENVIRONMENT="$PWD/ansible/environment/prod_amova_local"


export DOCKER_TLS_VERIFY=1
export DOCKER_BUILDKIT=1

export ANSIBLE_CONFIG="$ENVIRONMENT/../ansible.cfg"
export ANSIBLE_INVENTORY="$ENVIRONMENT/inventory/hosts.ini"
export ANSIBLE_DEBUG=False
export DOCKER_CERT_PATH="$ENVIRONMENT/docker_client"

export PULL_REGISTRY="registry.$TLS_SAN"
export PUSH_REGISTRY="$DOCKER_HOST:5001"
