{#
https://github.com/cloudflare/cfssl/blob/master/config/config.go
https://github.com/suikast42/nomadder/issues/165
#}
{
  "signing": {
    "default": {
      "expiry": "{{validityClientCert}}",
       "not_before" : "{{ ansible_date_time.year }}-{{ ansible_date_time.month }}-01T00:00:00Z"
    },
    "profiles": {
      "intermediate_ca": {
        "usages": [
          "signing",
          "digital signature",
          "key encipherment",
          "cert sign",
          "crl sign",
          "server auth",
          "client auth"
        ],
        "expiry": "{{validityClusterCa}}",
        "not_before" : "{{ ansible_date_time.year }}-{{ ansible_date_time.month }}-01T00:00:00Z",
        "ca_constraint": {
          "is_ca": true,
          "max_path_len": 0,
          "max_path_len_zero": true
        }
      },
      "peer": {
        "usages": [
          "signing",
          "digital signature",
          "key encipherment",
          "client auth",
          "server auth"
        ],
        "expiry": "{{validityClientCert}}",
        "not_before" : "{{ ansible_date_time.year }}-{{ ansible_date_time.month }}-01T00:00:00Z"
      },
      "server": {
        "usages": [
          "signing",
          "digital signing",
          "key encipherment",
          "server auth"
        ],
        "expiry": "{{validityServerCert}}",
        "not_before" : "{{ ansible_date_time.year }}-{{ ansible_date_time.month }}-01T00:00:00Z"
      },
      "client": {
        "usages": [
          "signing",
          "digital signature",
          "key encipherment",
          "client auth"
        ],
        "expiry": "{{validityClientCert}}",
        "not_before" : "{{ ansible_date_time.year }}-{{ ansible_date_time.month }}-01T00:00:00Z"
      }
    }
  }
}
