ui = true
disable_mlock = true

storage "file" {
  path = "/opt/deployments/core/vault/data"
}

listener "tcp" {
	address     = "0.0.0.0:8200"
	tls_cert_file = "{{vault_cert}}"
	tls_key_file = "{{vault_cert_key}}"
	tls_client_ca_file = "{{ca_cert}}"
	tls_disable = 0
}


