[Unit]
# When using Nomad with Consul it is not necessary to start Consul first. These
# lines start Consul before Nomad as an optimization to avoid Nomad logging
# that Consul is unavailable at startup.
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
{% if is_master_host  %}
Wants=network-online.target,consul.service
After=network-online.target,consul.service
{% else %}
Wants=network-online.target,containerd.service,docker.service,consul.service
After=network-online.target,containerd.service,docker.service,consul.service
{% endif %}



[Service]
ExecStartPre=/bin/bash -c '(while ! nc -z -v -w1 consul.service.consul 8501 2>/dev/null; do echo "Waiting for consul.service.consul 8501 to open..."; sleep 1; done); sleep 1'

# Nomad server should be run as the nomad user. Nomad clients
# should be run as root
{% if is_master_host  %}
User={{nomad_user}}
{% else %}
User=root
{% endif %}

{% if is_master_host  %}
Group={{nomad_group}}
{% else %}
Group=root
{% endif %}



ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/nomad agent -config {{nomad_conf_dir}}
{% if is_worker_host  %}
# nomad client have a active setting drain_on_shutdown
# this drains the node and mark it as ineligible.
# Make the node eligible again
#ExecStartPost=/bin/bash -c '(while ! nomad  node eligibility  -enable -self -address=https://localhost:4646 -ca-cert=/usr/local/share/ca-certificates/cloudlocal/cluster-ca-bundle.pem -client-cert=/etc/opt/certs/nomad/nomad-cli.pem -client-key=/etc/opt/certs/nomad/nomad-cli-key.pem  >/dev/null; do echo "Waiting for port nomad agent runs..."; sleep 1; done); sleep 1'
ExecStartPost=systemctl restart nomad.eligtion.service
ExecStop={{nomad_conf_dir}}/nomad_node_drain.sh
{% endif %}

KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

## Configure unit start rate limiting. Units which are started more than
## *burst* times within an *interval* time span are not permitted to start any
## more. Use `StartLimitIntervalSec` or `StartLimitInterval` (depending on
## systemd version) to configure the checking interval and `StartLimitBurst`
## to configure how many starts per interval are allowed. The values in the
## commented lines are defaults.

# StartLimitBurst = 5

## StartLimitIntervalSec is used for systemd versions >= 230
StartLimitIntervalSec = 10s

# drain_on_shutdown *2
TimeoutStopSec=1m
## StartLimitInterval is used for systemd versions < 230
# StartLimitInterval = 10s

TasksMax=infinity
#The default systemd configuration for Nomad should set OOMScoreAdjust=-1000 to avoid OOMing the Nomad process.
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target