[Unit]
# When using Nomad with Consul it is not necessary to start Consul first. These
# lines start Consul before Nomad as an optimization to avoid Nomad logging
# that Consul is unavailable at startup.
Description=Nomad
Documentation=https://www.nomadproject.io/docs/
{% if is_master_host  %}
Wants=network-online.target,containerd.service,docker.service,consul.service
After=network-online.target,containerd.service,docker.service,consul.service
{% else %}
Wants=network-online.target,containerd.service,docker.service,consul.service
After=network-online.target,containerd.service,docker.service,consul.service
{% endif %}



[Service]
Type=notify # see https://github.com/hashicorp/nomad/pull/20528
ExecStartPre=/bin/bash -c '(while ! nc -z -v -w1 consul.service.consul 8501 2>/dev/null; do echo "Waiting for consul.service.consul 8501 to open..."; sleep 1; done); sleep 1'

# Nomad server should be run as the nomad user. Nomad clients
# should be run as root
{% if is_master_host  %}
User={{nomad_user}}
{% else %}
User=root
{% endif %}

{% if is_master_host  %}
Group={{nomad_group}}
{% else %}
Group=root
{% endif %}



ExecStart=/usr/local/bin/nomad agent -config {{nomad_conf_dir}}
ExecReload=/bin/kill -HUP $MAINPID
# TODO: https://gist.github.com/blalor/246eaf5755e784b353ab756a36a1142e
#TimeoutStopSec= will send a SIGTERM immediately if ExecStop is not included in the service file.
#ExecStop=/bin/kill -9 $MAINPID
{% if is_worker_host  %}
# See issue https://github.com/hashicorp/nomad/issues/17299
# See issue https://github.com/suikast42/nomadder/issues/138
ExecStartPre={{nomad_conf_dir}}/nomad_kill_pause_containers.sh
# nomad client have a active setting drain_on_shutdown
# this drains the node and mark it as ineligible.
# Make the node eligible again
ExecStartPost=systemctl restart nomad.eligtion.service
# Use node drain over client config drain_on_shutdown
# Enable this section if you disable the option drain_on_shutdown
#ExecStop={{nomad_conf_dir}}/nomad_node_drain.sh
{% endif %}

KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

## Configure unit start rate limiting. Units which are started more than
## *burst* times within an *interval* time span are not permitted to start any
## more. Use `StartLimitIntervalSec` or `StartLimitInterval` (depending on
## systemd version) to configure the checking interval and `StartLimitBurst`
## to configure how many starts per interval are allowed. The values in the
## commented lines are defaults.

# StartLimitBurst = 5

## StartLimitIntervalSec is used for systemd versions >= 230
StartLimitIntervalSec = 10s

# drain_on_shutdown +  30s
TimeoutStopSec=2m30s
## StartLimitInterval is used for systemd versions < 230
# StartLimitInterval = 10s

TasksMax=infinity
#The default systemd configuration for Nomad should set OOMScoreAdjust=-1000 to avoid OOMing the Nomad process.
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
