log_level = "DEBUG"
datacenter = "{{data_center}}"
data_dir =  "{{nomad_data_dir}}"

client {
  enabled = true
}

tls {
  http = true
  rpc  = true

  ca_file   = "{{cluster_intermediate_ca_bundle}}"
  cert_file = "{{nomad_cert}}"
  key_file  = "{{nomad_cert_key}}"

  verify_server_hostname = true
  verify_https_client    = true
}

consul{
    token = "{{nomad_consul_initial_agent_token}}"
}