log_level = "DEBUG"
name = "{{host_name}}"
datacenter = "{{data_center}}"
data_dir =  "{{nomad_data_dir}}"

#You should only set this value to true on server agents
#if the terminated server will never join the cluster again
#leave_on_interrupt= false

#You should only set this value to true on server agents
#if the terminated server will never join the cluster again
#leave_on_terminate = false

server {
  enabled = true
  job_max_priority = 100 # 100 is the default
  job_default_priority = 50 # 50 is the default
  bootstrap_expect =  {{masters|length}}
  encrypt = "{{nomad_encrypt_key}}"
  rejoin_after_leave = true
  server_join {
    retry_join =  {{masters | to_json }}
    retry_max = 0
    retry_interval = "15s"
  }
}

bind_addr = "0.0.0.0" # the default
advertise {
  # Defaults to the first private IP address.
  http = "{{host_ip}}"
  rpc  = "{{host_ip}}"
  serf = "{{host_ip}}"
}

tls {
  http = true
  rpc  = true

  ca_file   = "{{cluster_intermediate_ca_bundle}}"
  cert_file = "{{nomad_cert}}"
  key_file  = "{{nomad_cert_key}}"

  verify_server_hostname = true
  verify_https_client    = true
}



ui {
  enabled =  true
  label {
   text =  "{{nomad_label_text}}"
   background_color = "{{nomad_label_color}}"
   text_color = "#{{nomad_label_background}}"
  }
  consul {
    ui_url = "https://consul.{{tls_san}}"
  }

  vault {
    ui_url = "https://vault.{{tls_san}}"
  }
}

consul{
 ssl= true
 address = "127.0.0.1:8501"
 grpc_address = "127.0.0.1:8503"
 # this works only with ACL enabled
 allow_unauthenticated= true
 ca_file   = "{{cluster_intermediate_ca_bundle}}"
 grpc_ca_file   = "{{cluster_intermediate_ca_bundle}}"
 cert_file = "{{consul_cert}}"
 key_file  = "{{consul_cert_key}}"
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}