log_level = "DEBUG"
name = "{{host_name}}"
datacenter = "{{data_center}}"
data_dir =  "{{nomad_data_dir}}"


server {
  enabled = true
  bootstrap_expect =  {{masters|length}}
  encrypt = "{{nomad_encrypt_key}}"
}

tls {
  http = true
  rpc  = true

  ca_file   = "{{cluster_intermediate_ca_bundle}}"
  cert_file = "{{nomad_cert}}"
  key_file  = "{{nomad_cert_key}}"

  verify_server_hostname = true
  verify_https_client    = true
}



ui {
  enabled =  true

  consul {
    ui_url = "https://consul.{{tls_san}}"
  }

  vault {
    ui_url = "https://vault.{{tls_san}}"
  }
}

consul{
 ssl= true
 address = "127.0.0.1:8501"
 # this works only with ACL enabled
 allow_unauthenticated= true
 ca_file   = "{{cluster_intermediate_ca_bundle}}"
 cert_file = "{{nomad_cert}}"
 key_file  = "{{nomad_cert_key}}"
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
}