{
    "node_name": "{{host_name}}",
    "datacenter": "{{data_center}}",
    "data_dir": "{{consul_data_dir}}",
	"ports": {"https":8501},
	"bind_addr": "0.0.0.0",
    "advertise_addr": "{{host_ip}}",
    "auto_encrypt": {
        "tls": true
    },
    "retry_join":{{masters | to_json }},
    "encrypt": "{{consul_encrypt_key}}",
    "node_meta": {
        "node_type": "worker"
    },
    "ports": {
        "http": -1,
        "grpc" : 8502,
        "grpc_tls" : 8503,
        "https": 8501
    },
    "connect": {
        "enabled": true
    },
    "tls":{
      "defaults":{
        "ca_file": "{{cluster_intermediate_ca_bundle}}",
        "cert_file": "{{consul_cert}}",
        "key_file": "{{consul_cert_key}}",
        "verify_incoming": false,
        "verify_outgoing": true
      },
      "internal_rpc":{
         "verify_server_hostname": true
      }
    },
    "telemetry": {
      "disable_hostname" : true
    }
}