{
    "node_name": "{{host_name}}",
    "datacenter": "{{data_center}}",
    "data_dir": "{{consul_data_dir}}",
    "server": true,
    "log_level" : "INFO",
    "bind_addr": "0.0.0.0",
    "advertise_addr": "{{host_ip}}",
    "client_addr": "0.0.0.0",
    "encrypt": "{{consul_encrypt_key}}",
    "ui_config": {
        "enabled" : true
    },
    "addresses": {
        "grpc" : "127.0.0.1"
    },
    "ports": {
        "http": -1,
        "grpc" : 8502,
        "https": 8501
    },
    "connect": {
        "enabled": true
    },
    "retry_join":{{masters | to_json }},
    "bootstrap_expect": {{masters|length}},

    "auto_encrypt": {
        "allow_tls": true
    },

	"performance" :{
	   "raft_multiplier" : 1
	},

    "node_meta": {
        "node_type": "server"
    },
    "tls":{
      "defaults":{
        "ca_file": "{{cluster_intermediate_ca_bundle}}",
        "cert_file": "{{consul_cert}}",
        "key_file": "{{consul_cert_key}}",
        "verify_incoming": true,
        "verify_outgoing": true
      },
     "internal_rpc":{
         "verify_server_hostname": true
     }
    }
}