
# Global configuration
enable_central_service_config = true

# Consul service mesh configuration
config_entries {
  bootstrap = [
    {
      kind = "proxy-defaults"
      name = "global"
      #https://developer.hashicorp.com/consul/docs/connect/distributed-tracing
      #https://developer.hashicorp.com/consul/docs/connect/proxies/envoy#dynamic-configuration
      #https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/zipkin.proto
      #https://github.com/hashicorp/consul-demo-tracing/tree/master/jaeger
      config {
       # configures all sidecar proxies to expose Prometheus metrics.
       # protocol= "http"
        envoy_prometheus_bind_addr = "0.0.0.0:9102"
        envoy_tracing_json = <<EOF
        {
          "http":{
            "name":"envoy.tracers.zipkin",
            "typedConfig":{
              "@type":"type.googleapis.com/envoy.config.trace.v3.ZipkinConfig",
              "collector_cluster":"collector_cluster_name",
              "collector_endpoint_version":"HTTP_JSON",
              "collector_endpoint":"/api/v2/spans",
              "shared_span_context":true,
              "trace_id_128bit": true
            }
          }
        }
        EOF

        envoy_extra_static_clusters_json = <<EOF
        {
          "connect_timeout":"3.000s",
          "dns_lookup_family":"V4_ONLY",
          "lb_policy":"ROUND_ROBIN",
          "load_assignment":{
            "cluster_name":"collector_cluster_name",
            "endpoints":[
              {
                "lb_endpoints":[
                  {
                    "endpoint":{
                      "address":{
                        "socket_address":{
                           "address": "tempo-zipkin.service.consul",
                           "port_value": 9411,
                           "protocol":"TCP"
                        }
                      }
                    }
                  }
                ]
              }
            ]
          },
          "name":"collector_cluster_name",
          "type":"STRICT_DNS"
        }
        EOF

        envoy_listener_tracing_json = <<EOF
                {
                  "@type" : "type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager.Tracing",
                  "provider" : {
                    "name" : "envoy.tracers.zipkin",
                    "typed_config" : {
                      "@type" : "type.googleapis.com/envoy.config.trace.v3.ZipkinConfig",
                      "collector_cluster" : "collector_cluster_name",
                      "collector_endpoint" : "/api/v2/spans",
                      "collector_endpoint_version" : "HTTP_JSON",
                      "shared_span_context" : false
                    }
                  },
                  "custom_tags" : [
                    {
                      "tag" : "alloc_id",
                      "environment" : {
                        "name" : "NOMAD_ALLOC_ID"
                      }
                    }
                  ]
                }
        EOF
      }
    }
  ]
}