export DOCKER_BUILDKIT=1
#export BUILDKIT_PROGRESS=plain
#export NO_COLOR=1
#export BUILDKIT_COLORS="run=123,20,245:error=yellow:cancel=blue:warning=white"

export DOCKER_HOST=172.21.1.10
export ENVIRONMENT="/mnt/c/IDE/Projects_Git/playground/nomadder/ansible/environment/local"
export TLS_SAN="cloud.private"
export PULL_REGISTRY="registry.${TLS_SAN}"

#push to nomadder registry
#export PUSH_REGISTRY="${DOCKER_HOST}:5001"
# this will push to dockerhub account
export DOCKER_HUB_ACCOUNT="suikast42"



export DOCKER_CERT_PATH="$ENVIRONMENT/docker_client"
export DOCKER_TLS_VERIFY=1

# TODO: refactor the curl command that resolves the minio cli version from this env
# Set this in dockerfile(s) manually actually this is not interpolated in dockerfile curl command
export MINIO_CLI_VERSION="RELEASE.2024-01-13T08-44-48Z"

