{
  "CN": "docker.{{host_name}}.{{data_center}}.{{tls_san}}",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "{{ca_cert_name_c}}",
      "L": "{{ca_cert_name_l}}",
      "O": "{{ca_cert_name_o}}",
      "OU": "{{ca_cert_name_ou}}",
      "ST": "{{ca_cert_name_st}}"
    }
  ],
  "hosts": {{builders | to_json }}
}
