{
  "CN": "{{ca_cert_cn}}",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "ca": {
    "expiry": "367920h"
  },
  "names": [
    {
      "C": "{{ca_cert_name_c}}",
      "L": "{{ca_cert_name_l}}",
      "O": "{{ca_cert_name_o}}",
      "OU": "{{ca_cert_name_ou}}",
      "ST": "{{ca_cert_name_st}}"
    }
  ]
}