- name : Check grafana dash n-grab cli installation present
  stat:
    path: /usr/local/bin/gdg
  register: gdgCliInstalled

- name: "Install gdg cli {{version_gdg_cli}}"
  when: not gdgCliInstalled.stat.exists or update_gdg_cli | bool == true or uninstall_gdg_cli | bool == true
  block:
    - name: "Delete local checkout path if exists"
      run_once: true
      become: true
      delegate_to: localhost
      file:
        path: "{{compile_path}}"
        state: absent

    - name: "Create local checkout path not if exists"
      run_once: true
      become: true
      delegate_to: localhost
      file:
        path: "{{compile_path}}"
        state: directory
        mode: '0777'

    - name: "Install gdg cli {{version_gdg_cli}}"
      run_once: true
      delegate_to: localhost
      shell: |
        go install github.com/esnet/gdg/cmd/gdg@v{{version_gdg_cli}}
        go install github.com/esnet/gdg/cmd/gdg-generate@v{{version_gdg_cli}}
        mkdir -p ~/.oh-my-zsh/custom/completions
        gdg  completion zsh > ~/.oh-my-zsh/custom/completions/gdg.sh
      args:
        chdir:  "{{compile_path}}"

    - name: Add autocompletion to .zshrc
      run_once: true
      delegate_to: localhost
      lineinfile:
        state: present
        path: ~/.zshrc
        firstmatch: yes
        insertafter: EOF
        line: "source ~/.oh-my-zsh/custom/completions/gdg.sh"

    - name: "Copy  gdg cli {{version_gdg_cli}}"
      become: true
      run_once: true
      when: is_local_host
      ansible.builtin.copy:
        src: "/home/{{ansible_user}}/go/bin/gdg"
        dest: /usr/local/bin/gdg
        force: yes
        group: "{{ansible_user}}"
        owner: "{{ansible_user}}"
        mode: 0755

    - name: "Copy gdg cli {{version_gdg_cli}}"
      become: true
      when: is_master_host
      ansible.builtin.copy:
        src: "/usr/local/bin/gdg"
        dest: /usr/local/bin/gdg
        force: yes
        group: "{{ansible_user}}"
        owner: "{{ansible_user}}"
        mode: 0755


    - name: "Copy gdg cli {{version_gdg_cli}} to master"
      become: true
      run_once: true
      when: is_local_host
      ansible.builtin.copy:
        src: "/home/{{ansible_user}}/go/bin/gdg-generate"
        dest: /usr/local/bin/gdg-generate
        force: yes
        group: "{{ansible_user}}"
        owner: "{{ansible_user}}"
        mode: 0755

    - name: "Copy gdg cli gen {{version_gdg_cli}} to master"
      become: true
      when: is_master_host
      ansible.builtin.copy:
        src: "/usr/local/bin/gdg-generate"
        dest: /usr/local/bin/gdg-generate
        force: yes
        group: "{{ansible_user}}"
        owner: "{{ansible_user}}"
        mode: 0755

  vars:
    compile_path:  /tmp/gdg_cli
