{
  "CN": "ingress.{{host_name}}.{{data_center}}.nomad",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "{{ca_cert_name_c}}",
      "L": "{{ca_cert_name_l}}",
      "O": "{{ca_cert_name_o}}",
      "OU": "{{ca_cert_name_ou}}",
      "ST": "{{ca_cert_name_st}}"
    }
  ],
  "hosts": {{( host_ips + tls_san_wc ) | to_json }}
}
