{
  "CN": "{{host_name}}.node.{{data_center}}.consul",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "{{ca_cert_name_c}}",
      "L": "{{ca_cert_name_l}}",
      "O": "{{ca_cert_name_o}}",
      "OU": "{{ca_cert_name_ou}}",
      "ST": "{{ca_cert_name_st}}"
    }
  ],
  "hosts": {{( nomad_servers ) | to_json }}
}
