
# Test ++ env "NOMAD_ALLOC_NAME"  ++
# Do not use this configuration in production.
# It is for demonstration purposes only.

# Run Mimir in single process mode, with all components running in 1 process.
target: all,alertmanager,overrides-exporter
# Disable tendency support.
multitenancy_enabled: false

server:
  http_listen_port: 9009
  log_level: debug
  # Configure the server to allow messages up to 100MB.
  grpc_server_max_recv_msg_size: 104857600
  grpc_server_max_send_msg_size: 104857600
  grpc_server_max_concurrent_streams: 1000

blocks_storage:
  backend: filesystem
  bucket_store:
    sync_dir: /data/tsdb-sync
   #ignore_blocks_within: 10h # default 10h
  filesystem:
    dir: /data/blocks
  tsdb:
    dir: /data/tsdb
    # Note that changing this requires changes to some other parameters like
    # -querier.query-store-after,
    # -querier.query-ingesters-within and
    # -blocks-storage.bucket-store.ignore-blocks-within.
    # retention_period: 24h # default 24h
querier:
  # query_ingesters_within: 13h # default 13h
  #query_store_after: 12h #default 12h
ruler_storage:
  backend: filesystem
  filesystem:
    dir: /data/rules

alertmanager_storage:
  backend: filesystem
  filesystem:
    dir: /data/alarms

frontend:
  grpc_client_config:
    grpc_compression: snappy

frontend_worker:
  grpc_client_config:
    grpc_compression: snappy

ingester_client:
  grpc_client_config:
    grpc_compression: snappy

query_scheduler:
  grpc_client_config:
    grpc_compression: snappy

alertmanager:
  data_dir: /data/alertmanager
#  retention: 120h
  sharding_ring:
    replication_factor: 1
  alertmanager_client:
    grpc_compression: snappy

ruler:
  query_frontend:
    grpc_client_config:
      grpc_compression: snappy

compactor:
#  compaction_interval: 1h # default 1h
#  deletion_delay: 12h # default 12h
  max_closing_blocks_concurrency: 2
  max_opening_blocks_concurrency: 4
  symbols_flushers_concurrency: 4
  data_dir: /data/compactor
  sharding_ring:
    kvstore:
      store: memberlist


ingester:
  ring:
    replication_factor: 1

store_gateway:
  sharding_ring:
    replication_factor: 1

limits:
  # Limit queries to 5 years. You can override this on a per-tenant basis.
  max_total_query_length: 43680h
  max_label_names_per_series: 42
  # Allow ingestion of out-of-order samples up to 2 hours since the latest received sample for the series.
  out_of_order_time_window: 2h
  # delete old blocks from long-term storage.
  # Delete from storage metrics data older than 1d.
  compactor_blocks_retention_period: 1d
  ingestion_rate: 100000